<mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup" [editable]="false">
      <form [formGroup]="firstFormGroup" (submit)="checkmail()">
        <ng-template matStepLabel>Fill out your email</ng-template>
        <mat-form-field>
          <mat-label>E-mail</mat-label>
          <input matInput name="email" formControlName="email" placeholder="example@xyz.com">
          <!-- <button mat-icon-button matSuffix><mat-icon>alternate_email</mat-icon></button> -->
          <mat-error *ngIf="!firstFormGroup.controls.email.valid">
            <mat-error *ngIf="this.firstFormGroup.controls.email.errors.required || this.firstFormGroup.controls.email.errors.pattern">Enter valid email    ex. example@xyz.com</mat-error> 
        </mat-error>
        </mat-form-field>
        <div>
          <button mat-button type="submit" matStepperNext style="background-color: #3f51b5; color: #fff;">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" [editable]="false">
      <form [formGroup]="secondFormGroup" (submit)="submit()">
        <ng-template matStepLabel>Fill out your password</ng-template>
        <mat-form-field>
          <mat-label>password</mat-label>
          <input matInput [type]="visible ? 'text' : 'password'" name="password" formControlName="password">
          <button type="button" mat-icon-button matSuffix
            (click)="visible = !visible"
            matTooltip="Toggle Visibility">
            <mat-icon *ngIf="visible">
              visibility
            </mat-icon>
            <mat-icon *ngIf="!visible">
              visibility_off
            </mat-icon>
          </button>
          <mat-error *ngIf="!secondFormGroup.controls.password.valid">
            Enter Valid Password
        </mat-error>
        </mat-form-field>
        <div>
          <!-- <button mat-button matStepperPrevious>Back</button> -->
          <button mat-button matStepperNext type="submit" style="background-color: #3f51b5; color: #fff;">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <!-- <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button> -->
      </div>
    </mat-step>
</mat-horizontal-stepper>