<mat-card id="register_card">
  <mat-card-header style="justify-content: center; margin-bottom: 10px">
    <mat-card-title style="color: #3f51b5"
      ><mat-icon>person_add</mat-icon> Register Here</mat-card-title
    >
  </mat-card-header>
  <form [formGroup]="registerForm" (submit)="submit()">
    <mat-card-content>
      <div id="register_details">
        <div>
          <div>
            <mat-form-field>
              <mat-label>First Name </mat-label>
              <input
                matInput
                type="text"
                name="fname"
                placeholder="abc"
                formControlName="fname"
              />
              <mat-error *ngIf="!registerForm.controls['fname'].valid">
                Enter valid first name
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Last Name </mat-label>
              <input
                matInput
                type="text"
                name="lname"
                placeholder="xyz"
                formControlName="lname"
              />
              <mat-error *ngIf="!registerForm.controls['lname'].valid">
                Enter valid last name
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>E-mail </mat-label>
              <input
                matInput
                type="text"
                name="email"
                placeholder="example@xyz.com"
                formControlName="email"
              />
              <!-- <button mat-icon-button matSuffix><mat-icon>alternate_email</mat-icon></button> -->
              <mat-error *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.hasError('required')">
                Email is required
              </mat-error>
              <mat-error *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.hasError('pattern')">
                Email is not valid
              </mat-error>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <mat-label>Password </mat-label>
              <input
                matInput
                [type]="visible ? 'text' : 'password'"
                name="password"
                formControlName="password"
              />
              <button
                type="button"
                mat-icon-button
                matSuffix
                (click)="visible = !visible"
                matTooltip="Toggle Visibility"
              >
                <mat-icon *ngIf="visible"> visibility </mat-icon>
                <mat-icon *ngIf="!visible"> visibility_off </mat-icon>
              </button>
              <mat-error *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.hasError('required')">
                Enter Valid Password
              </mat-error>
              <mat-error *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.hasError('pattern')">Pasword not valid format and strong </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Confirm Password </mat-label>
              <input
                matInput
                [type]="visible1 ? 'text' : 'password'"
                name="confirmpassword"
                formControlName="confirmpassword"
              />
              <button
                type="button"
                mat-icon-button
                matSuffix
                (click)="visible1 = !visible1"
                matTooltip="Toggle Visibility"
              >
                <mat-icon *ngIf="visible1"> visibility </mat-icon>
                <mat-icon *ngIf="!visible1"> visibility_off </mat-icon>
              </button>
              <mat-error
                  *ngIf="
                    registerForm.get('confirmpassword')?.touched &&
                    registerForm.get('confirmpassword')?.hasError('required')
                  "
                >
                  Enter Valid Confirm Password
                </mat-error>
                <mat-error
                  *ngIf="
                    registerForm.get('confirmpassword')?.touched &&
                    registerForm
                      .get('confirmpassword')
                      ?.hasError('confirmedValidator')
                  "
                >
                  Confirm Password and Password not match
                </mat-error>
            </mat-form-field>
          </div>

          <div>
            <mat-label>Personal Information</mat-label>
            <mat-radio-group
              aria-label="Select an option"
              formControlName="personal_info" (change)="checkvalidation($event)">
              <mat-radio-button [value]="true">Yes</mat-radio-button>
              <mat-radio-button [value]="false">No</mat-radio-button>
            </mat-radio-group>
          </div>

          <ng-container
            *ngIf="registerForm.get('personal_info')?.value === true"
          >
            <div>
              <mat-form-field>
                <mat-label>Choose a DOB</mat-label>
                <input matInput formControlName="dob" [matDatepicker]="picker" [min]="minDate" [max]="maxDate" readonly>
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error
                  *ngIf="
                    registerForm.get('dob')?.touched &&
                    registerForm.get('dob')?.hasError('required')
                  "
                >
                  Enter Valid DOB
                </mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <mat-label>Address </mat-label>
                <textarea
                  id="textarea"
                  matInput
                  name="address"
                  formControlName="address"
                ></textarea>
                <!-- <button mat-icon-button matSuffix><mat-icon>home</mat-icon></button> -->
                <mat-error
                  *ngIf="
                    registerForm.get('address')?.touched &&
                    registerForm.get('address')?.hasError('required')
                  "
                >
                  Enter Valid Address
                </mat-error>
              </mat-form-field>
            </div>
          </ng-container>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions style="display: block">
      <div id="register_btn">
        <button
          type="submit"
          style="width: 100px"
          mat-raised-button
          color="primary"
          [disabled]="registerForm.invalid"
          matSuffix
        >
          Submit
        </button>
        <button
          type="button"
          style="float: right; width: 100px"
          mat-raised-button
          (click)="registerForm.reset()"
          matSuffix
        >
          Reset
        </button>
      </div>
      <span
        >Are you resgistered ? &nbsp;
        <a [routerLink]="['/auth/login']" routerLinkActive="true">Login</a>
        &nbsp; now.</span
      >
    </mat-card-actions>
  </form>
</mat-card>
