#register_card {
    width: 500px;
    margin: auto;
    margin-top: 10px;
}

#register_details {
    display: flex;
    justify-content: center;
}

mat-form-field {
    width: 400px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

#textarea {
    resize: none;
}

#register_btn {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

mat-icon {
    vertical-align: middle;
}

span {
    display: flex;
    justify-content: center;
}

a {
    color: #ff4081;
}

a:hover, a:active, a::after {
    color: #3f51b5;
}
